<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hospital.medicine.dao.MedicineTableMapper">
  <resultMap id="BaseResultMap" type="com.qf.hospital.medicine.entity.MedicineTable">
    <result column="case_id" jdbcType="INTEGER" property="caseId" />
    <result column="medicine_id" jdbcType="INTEGER" property="medicineId" />
    <result column="order_status" javaType="INTEGER" property="orderStatus" />
  </resultMap>

</mapper>