<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hospital.medicine.dao.MedicineTableMapper">
  <resultMap id="BaseResultMap" type="com.qf.hospital.medicine.entity.MedicineTable">
    <result column="case_id" jdbcType="INTEGER" property="caseId" />
    <result column="medicine_id" jdbcType="INTEGER" property="medicineId" />
    <result column="order_status" javaType="INTEGER" property="orderStatus" />
  </resultMap>

  <resultMap id="SelectMedicineTableMsg" type="com.qf.hospital.common.vo.SelectMedicineTableMsg">
    <result column="病例id" property="caseId" />
    <result column="患者姓名" property="name" />
    <result column="药品" property="medicineNames" />
    <result column="就诊时间" property="caseDate" />
  </resultMap>

    <resultMap id="Medicine" type="com.qf.hospital.medicine.entity.Medicine">
        <result column="m_i" property="medicineId" />
        <result column="m_in" property="medicineInfo" />
        <result column="m_n" property="medicineName" />
        <result column="m_p" property="medicinePrice" />
    </resultMap>

  <select id="select" resultMap="SelectMedicineTableMsg">
    SELECT case_table.case_id '病例id', patient_info.`name` '患者姓名', GROUP_CONCAT(medicine.medicine_name separator '  ') '药品', case_table.date '就诊时间'
    FROM case_table
           LEFT JOIN patient_case
                     ON case_table.case_id = patient_case.case_id
           LEFT JOIN patient_info
                     ON patient_case.patient_id = patient_info.patient_id
           LEFT JOIN medicine_table
                     ON case_table.case_id = medicine_table.case_id
           LEFT JOIN medicine
                     ON medicine_table.medicine_id = medicine.medicine_id
    WHERE medicine_table.order_status = 0
    GROUP BY case_table.case_id, patient_info.`name`
  </select>

    <select id="selectMedicine" resultMap="Medicine">
        SELECT medicine.medicine_id m_i, medicine.medicine_name m_n, medicine.medicine_info m_in, medicine.medicine_price m_p
        FROM case_table
                 LEFT JOIN medicine_table
                           ON case_table.case_id = medicine_table.case_id
                 LEFT JOIN medicine
                           ON medicine_table.medicine_id = medicine.medicine_id
        WHERE case_table.case_id = #{caseId}
    </select>

</mapper>