<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hospital.patient.dao.PatientInfoMapper">
  <resultMap id="BaseResultMap" type="com.qf.hospital.patient.entity.PatientInfo">
    <result column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="id_num" jdbcType="VARCHAR" property="idNum" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
  </resultMap>


</mapper>