<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hospital.doctor.dao.CaseMapper">
  <resultMap id="BaseResultMap" type="com.qf.hospital.doctor.entity.Case">
    <result column="case_id" jdbcType="INTEGER" property="caseId" />
      <result column="disease_description" property="diseaseDescription"/>
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="consulting_id" jdbcType="INTEGER" property="consultingId" />
      <result column="date" property="date"/>
  </resultMap>

  <insert id="insert" parameterType="com.qf.hospital.doctor.entity.Case">
    insert into case (case_id, doctor_id, consulting_id, 
      disease_description, date)
    values (#{caseId,jdbcType=INTEGER}, #{doctorId,jdbcType=INTEGER}, #{consultingId,jdbcType=INTEGER}, 
      #{diseaseDescription,jdbcType=LONGVARCHAR}, #{date,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.hospital.doctor.entity.Case">
    insert into case
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="caseId != null">
        case_id,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="consultingId != null">
        consulting_id,
      </if>
      <if test="diseaseDescription != null">
        disease_description,
      </if>
      <if test="date != null">
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="consultingId != null">
        #{consultingId,jdbcType=INTEGER},
      </if>
      <if test="diseaseDescription != null">
        #{diseaseDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>