<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hospital.doctor.dao.CaseMapper">
  <resultMap id="BaseResultMap" type="com.qf.hospital.doctor.entity.Case">
    <result column="case_id" jdbcType="INTEGER" property="caseId" />
      <result column="disease_description" property="diseaseDescription"/>
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="consulting_id" jdbcType="INTEGER" property="consultingId" />
      <result column="date" property="date"/>
  </resultMap>


</mapper>