<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hospital.doctor.dao.ConsultingMapper">
    <resultMap id="BaseResultMap" type="com.qf.hospital.doctor.entity.Consulting">
        <result column="consulting_id" jdbcType="INTEGER" property="consultingId"/>
        <result column="consulting_name" jdbcType="VARCHAR" property="consultingName"/>
        <result column="consulting_num" jdbcType="VARCHAR" property="consultingNum"/>
    </resultMap>


    <select id="queryAllConsulting" resultMap="BaseResultMap">
        select consulting_id, consulting_name, consulting_num from consulting
    </select>

</mapper>