<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hospital.doctor.dao.DoctorMapper">
  <resultMap id="BaseResultMap" type="com.qf.hospital.doctor.entity.Doctor">
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="consulting_id" jdbcType="INTEGER" property="consultingId" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="doctor_age" jdbcType="INTEGER" property="doctorAge" />
    <result column="rank" jdbcType="VARCHAR" property="rank" />
  </resultMap>

  <insert id="insert" parameterType="com.qf.hospital.doctor.entity.Doctor">
    insert into doctor (doctor_id, consulting_id, doctor_name, 
      education, doctor_age, rank, 
      resume)
    values (#{doctorId,jdbcType=INTEGER}, #{consultingId,jdbcType=INTEGER}, #{doctorName,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{doctorAge,jdbcType=INTEGER}, #{rank,jdbcType=VARCHAR}, 
      #{resume,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.hospital.doctor.entity.Doctor">
    insert into doctor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="consultingId != null">
        consulting_id,
      </if>
      <if test="doctorName != null">
        doctor_name,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="doctorAge != null">
        doctor_age,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="resume != null">
        resume,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="doctorId != null">
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="consultingId != null">
        #{consultingId,jdbcType=INTEGER},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="doctorAge != null">
        #{doctorAge,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="resume != null">
        #{resume,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>