<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hospital.doctor.dao.SchedulingTimeMapper">
  <resultMap id="BaseResultMap" type="com.qf.hospital.doctor.entity.SchedulingTime">
    <result column="scheduling_id" jdbcType="INTEGER" property="schedulingId" />
    <result column="day" jdbcType="VARCHAR" property="day" />
    <result column="time" jdbcType="INTEGER" property="time" />
  </resultMap>

</mapper>